<section id="ResetPass" class="ResetPass">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 custom-card" data-aos="zoom-in">
                <div class="text-center">
                    <img src="./assets/images/forgotpass.jpg" class="text-center" width="200px" height="200px" alt="">

                </div>
                <h6 class="text-center text-black fw-bold">Reset Password?</h6>
   
                <div class="form-floating mb-3 text-black">
                    <input type="password" class="form-control" id="password" placeholder="EX: Muhamed@gmail.com">
                    <label for="password"><i class="fa-solid fa-envelope "></i> Enter New Password?</label>
                </div>
   
                <div class="form-floating mb-3 text-black">
                    <input type="password" class="form-control" id="password" placeholder="EX: Muhamed@gmail.com">
                    <label for="password"><i class="fa-solid fa-envelope "></i> Re-enter New Password</label>
                </div>
                <div class="OTPcontainer">
                <div id="inputs" class="inputs  justify-content-center d-flex gap-3 mb-2">
                    <input class="input  OTPinput "  type="text" 
                        inputmode="numeric" maxlength="1" />
                    <input class="input  OTPinput  " type="text" 
                        inputmode="numeric" maxlength="1" />
                    <input class="input  OTPinput " type="text" 
                        inputmode="numeric" maxlength="1" />
                    <input class="input  OTPinput " type="text" 
                        inputmode="numeric" maxlength="1" />
                </div>
            </div>
   
                <button class="btn btn-custom" routerLink="">Submit</button>
  
            
            </div>
        </div>
    </div>
  </section>