<section id="ForgoPass" class="ForgoPass">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 custom-card" data-aos="zoom-in">
                <div class="text-center">
                    <img src="./assets/images/forgotpass.jpg" class="text-center" width="200px" height="200px" alt="">

                </div>
                <h6 class="text-center text-black fw-bold">Forgot Password?</h6>
                <p class="text-center text-info">Please enter your registered email address we will get back to you with the reset password link and confirmation OTP </p>
  
                <div class="form-floating mb-3 text-black">
                    <input type="email" class="form-control" id="email" placeholder="EX: Muhamed@gmail.com">
                    <label for="email"><i class="fa-solid fa-envelope "></i> Email</label>
                </div>
   
                <button class="btn btn-custom" routerLink="/resetPass">Submit</button>
  
            
            </div>
        </div>
    </div>
  </section>