<section id="Appointment" class=" mb-5 h-100">
 
<div class="container-fluid ">
    <div class="row">
       
 <div id="Appointment2" class="contact-cover  vh-100">
    <p class="  color1 word2 d-flex align-items-center ms-5  h-100 " > </p>
</div>
           
        <div class="col-md-12  mt-2 ">
            <div class="w-100 text-center">
                <p class="" >Send Us A Message And We Will Respond As Soon As Possible</p>
      
                <div class="mb-2 mx-auto w-75 d-flex">
                    <input type="text" class="form-control me-2  h-25 inputColor " id="exampleFormControlInput1" placeholder="First Name">
                    <input type="text" class="form-control text-muted h-25 inputColor placeholder-white " id="exampleFormControlInput1" placeholder=" Last Name">

                </div>
               
                <div class="mb-2 mt-3 mx-auto w-75 d-flex">
                    <input type="email" class="form-control me-2 text-muted h-25 inputColor " id="exampleFormControlInput1" placeholder="Email Address">
                    <input type="tel" class="form-control text-muted h-25 inputColor " id="exampleFormControlInput1" placeholder="Phone Number">
                    
                </div>
               
                <div class="mb-2 mt-3 mx-auto w-75 d-flex">
                    <input type="text" class="form-control w-100  text-muted h-25 inputColor " id="exampleFormControlInput1" placeholder="Subject">

                </div>
                <div class="mb-2 mt-3 mx-auto w-75 d-flex">
                    <textarea formControlName="message"  class="inputColor rounded-3  border-white w-100" placeholder="Your Message"></textarea>

                </div>
               
                <div class="mb-2 mt-3 mx-auto w-100 d-flex justify-content-center ">
                    <button class="px-5" >Send Message <i class="fa-solid fw-bold ms-3 fa-right-long"></i> </button>
                 </div>
               
             
            </div>



        </div>
        
    

 
     
         
     </div>
</div>
</section>
  
