.word2{
    color: white;
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 200;
    font-size: xx-large;
    font-style: normal;
  }
#doclogin{
    background-color: var( --works-text-color);
}
.btn-custom {
    background-color: #61B1B2;
    color: white;
    padding: 0.75rem;
    border-radius: 0.75rem;
    width: 100%;
  }
  .btn-custom:hover {
    background-color: #35A1A3;
  }
 